<%= turbo_frame_tag "new-post", :src => new_post_path, :target => "_top" %>

<div class="w-full my-5 overflow-x-auto">
  <table class="table table-zebra table-pin-rows table-pin-cols">
    <thead>
      <tr>
        <th>user_id</th>
        <th>content</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    
    <tbody>
      <%= render @posts %>
    </tbody>
  </table>
</div>